@model ESS.SFS.ViewModel.AdminForgetPass
@{
    ViewData["Title"] = "Forget Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<div class="row">
    <div class="col-md-3 LoginLeftBackground ">

    </div>
    <div class="col-md-6">
        <div class="ShowTopLogo">
            <img src="~/Assets/Logo_big.svg" />
        </div>
        @if (TempData["Message"] != null)
        {
          <div><span>@TempData["Message"]</span></div>
        }
        <div class="portletBox">
            <h3 class="text-themegreen logintitle text-center">Забравена парола</h3>
            <p class="subtitleLogin text-center">Ще Ви изпратим имейл за промяна </p>

            @using (Html.BeginForm("ForgetPassword", "Account", FormMethod.Post, new { @id = "formPost", @class = "kt-form" }))
            {
            <div class="SmallSection">
                <div>
                    <label>Имейл</label>
                    @Html.TextBoxFor(m => m.email, new { @type = "email", @class = "themecustomInput", @placeholder = "имейл", @autocomplete = "off" })
                    @*<input type="email" name="name" placeholder="E-mail" class="" value="" />*@
                </div>
                <div>
                    <button type="submit" class="themeBtn btn-block btn-square mt-4 font-gmedium"> Изпрати </button>
                    <div class="text-center">
                        <a href="/Account/Login" class="theme-link font-gregular">Спомняте си паролата? Влезте от тук.</a>

                    </div>
                    <div class="text-danger">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    </div>

                    @*<p class="smallbottomtext font-gregular">2020 all right reserved. check privacy policy , cookies policy</p>*@
                </div>
            </div>
            }
        </div>

    </div>
    <div class="col-md-3 LoginrightBackground ">


    </div>
</div>
@section Scripts{
    <script>

        $('.btnSubmit').click(function () {
            if ($("#formPost").valid()) {
            }
        })

    </script>
}