
@{
    ViewData["Title"] = "Invitation Message";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (TempData["Message"] != null)
{
<span>@TempData["Message"]</span>
}

<div class="w-15 bg-themebrown">
    <div class="">
        <h3 class="text-center SurveyTitle"></h3>
        
    </div>
</div>
<div class="wrapper w-100">
    <div class="BodyContent h-100 position-relative">
        <div class="showincenter text-center">
            <img src="~/Assets/Sent_successful.svg" />
            <h3 class="darkTitle text-center mb-1">Изпратен е имейл за потвърждение.</h3>
            <p class="subsuccesshead text-center mb-4"></p>
            <a href="/Account/Login" class="m-0 themeBtn text-white font-12 px-4"> <span class="px-3">Към вход в платформата </span> </a>
        </div>
    </div>
</div>







