@model ESS.SFS.ViewModel.UserViewModel
@{
    ViewData["Title"] = "Send Invitation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

    <h1>Dashboard</h1>






@section scripts{
    <script>
        $(document).ready(function () {

        });
    </script>
}
