@model ESS.SFS.DAL.TblPayment
@{
    ViewData["Title"] = "Pending Payment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker3.min.css">
<link rel="stylesheet" href="~/css/site.css" />
<style>
    body {
        height: 100% !important;
    }

    .w-85 {
        width: 85%;
    }

    div.w-15.bg-themebrown > div.pt-3 {
        width: 14.25%;
    }
    
</style>
<div class="w-15 bg-themebrown">
    <div class="pt-3">
        <h3 class=" SurveyTitle">Плащания</h3>
        <ul class="Sidebarnav">
            <li class="active">
                <a href="/User/PendingPaymentList">Чакащи одобрение</a>
            </li>
            <li><a href="/User/ArchivePaymentList">Архив</a></li>

        </ul>
    </div>
</div>
<div class="wrapper w-85">
    <div class="bg-white h-100">
        <div class="d-flex justify-content-between px-5 topHeader">
            <div>
                <div class="d-flex">
                    <div class="mr-3 pt-1">
                        <img src="~/Assets/Payment_icon.svg" />
                    </div>
                    <div class="MainTitle">
                        <h4 class="text-themegreen mb-1">Плащания чакащи одобрение</h4>
                        <p class="font-12">Всички транзакции</p>
                    </div>
                </div>
            </div>
            <div class="align-self-center">
                <input type="text" class="form-control" name="daterange" value="" />
            </div>
        </div>
        <div class=" mt-2" id="divPayment">
            <partial name="/Views/User/_PendingPaymentList.cshtml" />
        </div>
    </div>
</div>

<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">

    var fromDate = null;
    var toDate = null;
    var paymentID = 0;
    //$(function () {

    //});


    $(document).ready(function () {
        $('.datatble').DataTable({
            "dom": 'tp'
        });


            //$('input[name="daterange"]').daterangepicker({

            //});

        $('input[name="daterange"]').daterangepicker({
            opens: 'left'
        }, function (start, end, label) {
            //  console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
            fromDate = start.format('YYYY-MM-DD');
            //  console.log(fromDate);
            toDate = end.format('YYYY-MM-DD');
            // console.log(toDate);
            searchPayment();
        });


      var msg = '@TempData["Message"]';
      if (msg != null && msg != "" && msg != undefined) {
          toastr.success(msg);
      }
    });


    function searchPayment() {

        $("body").addClass("ShowLoader");
        $.ajax({
            type: 'Post',
            data: { FromDate: fromDate, ToDate: toDate },
            dataType: 'html',
            url: '/User/PendingPaymentListSearch',
            success: function (result) {
                $('#divPayment').html(result);

                $(".dataTable").dataTable({
                });

            }, error: function (xhr) {

            }
        });
        $("body").removeClass("ShowLoader");
    }

    $(document).on("click", "#btnApproved", function (e) {
        e.preventDefault();
        paymentID = Number($(this).closest('tr').find('#hdPaymentId').val());
        $('#AproveModal').modal('show');

    })


    $(document).on("click", "#btnYes", function (e) {
        e.preventDefault();
        if (paymentID > 0) {
             $.post("/User/UpdatePaymentStatus",
                        data = {
                            paymentId: paymentID
                        },
                        function (data) {
                               var url = '@Url.Action("PaymentMessage", "User")';
                                                                     window.location.href = url;

            });
        }

    })



</script>